@model ArgenRent.Models.Propiedad

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>


<div>
    <h4>Propiedad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precioPorNoche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precioPorNoche)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aceptaMascotas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aceptaMascotas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadAmbientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidadAmbientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadDormitorios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidadDormitorios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadBanios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidadBanios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadM2Cubiertos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidadM2Cubiertos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadM2Descubiertos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidadM2Descubiertos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadCocheras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidadCocheras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ranking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ranking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoPropiedad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoPropiedad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario.apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
    </dl>

    <h6 class="text-danger fw-bolder">¿Estás seguro de borrar el presente registro?</h6>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
