@model IEnumerable<ArgenRent.Models.Propiedad>

@{
    ViewData["Title"] = "Index";
}

<h1>Propiedades</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th> *@
            <th scope="col">
                @Html.DisplayNameFor(model => model.precioPorNoche)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.aceptaMascotas)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.cantidadAmbientes)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.cantidadDormitorios)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.cantidadBanios)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.cantidadM2Cubiertos)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.cantidadM2Descubiertos)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.cantidadCocheras)
            </th >
            <th scope="col">
                @Html.DisplayNameFor(model => model.ranking)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.tipoPropiedad)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th scope="row">
                @Html.DisplayFor(modelItem => item.titulo)
            </th>
            @* <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.precioPorNoche)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aceptaMascotas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadAmbientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadDormitorios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadBanios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadM2Cubiertos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadM2Descubiertos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadCocheras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ranking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoPropiedad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
