@model ArgenRent.Models.Alquiler

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>


<div>
    <h4>Alquiler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.propiedad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.propiedad.titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario.apellido)
        </dd>
    </dl>

    <h6>Estás seguro de borrar el presente registro?</h6>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
