@model IEnumerable<ArgenRent.Models.Alquiler>

@{
    ViewData["Title"] = "Index";
}

<h1>Alquileres</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.propiedad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.propiedad.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.apellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
